#body {
  pading: 0px;
  margin: 0px;
  height: 100%;
  background: url('https://res.cloudinary.com/guypro/image/upload/v1503613344/1200px-Wikipedia-logo-v2.svg_ujleix.png')
    no-repeat
    center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  z-index: 1;
  min-height: 100%;
}
#section div {
  background-color: rgba(255, 255, 0, 0.7);
}
h2 {
  text-align: center;
}
.well {
  width: 80%;
  min-height: 25%;
  padding: 0px 2% 2% 5%;
  margin: 1% 10%;
  font-family: verdana;
  font-size: 20px;
  /* RGBa with 0.6 opacity */
  background-color: rgba(76, 175, 80, 0.3);
  /* For IE 5.5 - 7*/
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr=#99000000,
      endColorstr=#99000000
    );
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  z-index: 1;
}
#searchTerm {
  width: 90%;
  border-radius: 5px;
  float: left;
}
#searchTerm {
  float: left;
}
#result {
}

